<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src='/third/jquery/jquery-1.9.1.min.js'></script>
        <script type="text/javascript" src='/third/jquery-mobile/jquery.mobile-1.4.3.min.js'></script>
        <script type="text/javascript" src='/third/jquery-file-upload/jquery.ui.widget.js'></script>
        <script type="text/javascript" src='/third/jquery-file-upload/jquery.iframe-transport.js'></script>
        <script type="text/javascript" src='/third/jquery-file-upload/jquery.fileupload.js'></script>
        <link rel='stylesheet' href='/third/jquery-mobile/jquery.mobile-1.4.3.min.css'/>
        <%-scripts%>
        <%-stylesheets%>
    </head>
    <body>
        <%- body%>
    </body>
</html>
