<%layout('layout')%>
<%script('/register/register.js')%>
<%stylesheet('/register/register.css')%>
<table id='person_photo'>
    <tr><td>头像</td><td>头像必须在5M内，必须支持PNG/JPG/GIF格式</td></tr>
    <tr>
        <td></td>
        <td>
            <div id="photoavatar">
                <input type="file" value="" name="files" data-url='/uploadownimage' id='file_upload'/>
            </div>
        </td>
    </tr>
</table>