<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src='/libs/jquery/jquery-1.11.1.min.js'></script>
    <script type="text/javascript" src='/libs/jquery-mobile/jquery.mobile-1.4.3.min.js'></script>
    <script type="text/javascript" src='/libs/jcrop/jquery.Jcrop.min.js'></script>
    <script type="text/javascript" src='/libs/jcrop/jquery.color.js'></script>
    <link rel='stylesheet' href='/libs/jcrop/jquery.Jcrop.min.css'/>
    <script type="text/javascript" src='/libs/jquery-ui/jquery.blockUI.js'></script>
    <script type="text/javascript" src='/libs/jquery/google.fastbutton.js'></script>
    <script type="text/javascript" src='/libs/jquery/jquery.google.fastbutton.js'></script>
    <link rel='stylesheet' href='/libs/jquery-mobile/jquery.mobile-1.4.3.min.css'/>
    <script type="text/javascript" src='/libs/sprintf.js'></script>
    <script type="text/javascript" src='/libs/common.js'></script>
  </head>
  <body>

