<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src='/libs/jquery/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/libs/jquery-mobile/jquery.mobile-1.4.3.min.js'></script>
    <script type="text/javascript" src='/libs/jquery-file-upload/jquery.ui.widget.js'></script>
    <script type="text/javascript" src='/libs/jquery-file-upload/jquery.iframe-transport.js'></script>
    <script type="text/javascript" src='/libs/jquery-file-upload/jquery.fileupload.js'></script>
    <script type="text/javascript" src='/libs/jcrop/jquery.Jcrop.min.js'></script>
    <script type="text/javascript" src='/libs/jcrop/jquery.color.js'></script>
    <link rel='stylesheet' href='/libs/jquery-mobile/jquery.mobile-1.4.3.min.css'/>
    <script type="text/javascript" src='/register_user/register.js'></script>
    <link rel='stylesheet' href='/register_user/register.css'/>
  </head>
  <body>

